<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./app/images/favicon-32x32.png">
  
  <title>Frontend Mentor | Bookmark landing page</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  
  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href="app/css/main.css">

</head>
<body ng-app="app">
  <div class="wrapper">
    <header>
      <div class="container w-75 py-4 d-flex justify-content-between align-items-center">
        <img src="./app/images/logo-bookmark.svg">

        <nav class="d-flex justify-content-around align-items-center">
          <a class="p-4" href="#">FEATURES</a>
          <a class="p-4" href="#">PRICING</a>
          <a class="p-4" href="#">CONTACT</a>
          <a class="button btn-red letter-spacing" href="#">LOGIN</a>
        </nav>
      </div>
    </header>
    
    <main>
      <section class="mt-5 w-75 container d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center ">
          <h1 class="w-75 m-0">A Simple Bookmark Manager</h1>
          
          <p class="w-75 mt-4 mb-0">A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.</p>
          
          <div class="mt-4">
            <a class="button btn-blue mr-2" href="#">Get it on Chrome</a>
            <a class="button btn-grey" href="#">Get it on Firefox</a>
          </div>
        </div>
        
        <!-- <div class="shape-right"></div> -->
        <img class="img-fluid w-50" src="./app/images/illustration-hero.svg" />
      </section>

      <section class="mt-5" ng-controller="tabController">
        <div class="container w-50 text-center">
          <h2>Features</h2>

          <p class="m-0 w-75 m-auto">Our aim is to make it quick and easy for you to access your favourite websites.Your bookmarks sync between your devices so you can access them on the go.</p>
        </div>

        <div class="d-inline-block w-100">
          <nav class="mt-5">
            <div class="nav justify-content-center" role="tablist">
              <a class="py-4 px-5 nav-link border-bottom red-onhover active" data-toggle="tab" href="#bookmarking" role="tab">Simple Bookmarking</a>
              <a class="py-4 px-5 nav-link border-bottom red-onhover" data-toggle="tab" href="#searching" role="tab">Speedy Searching</a>
              <a class="py-4 px-5 nav-link border-bottom red-onhover" data-toggle="tab" href="#sharing" role="tab">Easy Sharing</a>
            </div>
          </nav>

          <div class="tab-content container">
            <div id="bookmarking" class="mt-5 tab-pane fade show active" role="tabpanel">
              <div class="d-flex justify-content-between">
                <img class="w-40 img-fluid" src="./app/images/illustration-features-tab-1.svg" />
                <div class="w-50 ml-5 d-flex flex-column justify-content-center">
                  <h3 class="w-75 mb-0">Bookmark in one click</h3>
                  <p class="w-75 mt-4 mb-0">Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how you manage your favourite sites.</p>
                  <div class="mt-4">
                    <button class="btn-blue button">More Info</button>
                  </div>
                </div>           
              </div>
            </div>

            <div id="searching" class="mt-5 tab-pane fade" role="tabpanel">
              <div class="d-flex justify-content-between">
                <img class="img-fluid" src="./app/images/illustration-features-tab-2.svg" />
                <div class="w-50 ml-5 d-flex flex-column justify-content-center">
                  <h3 class="w-75 mb-0">Intelligent search</h3>
                  <p class="w-75 mt-4 mb-0">Our powerful search feature will help you find saved sites in no time at all. No need to trawl through all of your bookmarks.</p>
                  <div class="mt-4">
                    <button class="btn-blue button">More Info</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="sharing" class="mt-5 tab-pane fade" role="tabpanel">
              <div class="d-flex justify-content-between">
                <img class="img-fluid" src="./app/images/illustration-features-tab-3.svg" />
                <div class="w-50 ml-5 d-flex flex-column justify-content-center">
                  <h3 class="w-75 mb-0">Share your bookmarks</h3>
                  <p class="w-75 mt-4 mb-0">Easily share your bookmarks and collections with others. Create a shareable link that you can send at the click of a button.</p>
                  <div class="mt-4">
                    <button class="btn-blue button">More Info</button>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-6 d-inline-block w-100">
        <div class="container w-50 text-center">
          <h2>Download the extension</h2>

          <p class="m-0 w-75 m-auto">We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.</p>
        </div>

        <div class="mt-5 container d-flex justify-content-center">
          <div class="mb-6 card card-bg-img rounded-xl card-shadow justify-content-center align-items-center">
            <div class="w-100 p-4 d-flex flex-column align-items-center">
              <img src="./app/images/logo-chrome.svg" class="w-50 img-fluid" />
              <h4 class="mt-4 mb-0">Add to Chrome</h4>
              <p class="mt-2 card-text">Minimum version 62</p>
            </div>

            <div class="p-4">
              <a href="#" class="button btn-blue">Add & Install Extension</a>  
            </div>
          </div>

          <div class="mx-4 my-5 card card-bg-img rounded-xl card-shadow justify-content-center align-items-center">
            <div class="w-100 p-4 d-flex flex-column align-items-center">
              <img src="./app/images/logo-firefox.svg" class="w-50 img-fluid" />
              <h4 class="mt-4 mb-0">Add to Firefox</h4>
              <p class="mt-2 card-text">Minimum version 55</p>
            </div>

            <div class="p-4">
              <a href="#" class="button btn-blue">Add & Install Extension</a>  
            </div>
          </div>

          <div class="mt-6 card card-bg-img rounded-xl card-shadow justify-content-center align-items-center">
            <div class="w-100 p-4 d-flex flex-column align-items-center">
              <img src="./app/images/logo-opera.svg" class="w-50 img-fluid" />
              <h4 class="mt-4 mb-0">Add to Opera</h4>
              <p class="mt-2 card-text">Minimum version 46</p>
            </div>

            <div class="p-4">
              <a href="#" class="button btn-blue">Add & Install Extension</a>  
            </div>
          </div>
      </section>

      <section class="mt-6 container w-50 d-flex flex-column align-items-center">
        <div class="text-center">
          <h2>Frequently Asked Questions</h2>

          <p class="m-0">Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.</p>
        </div>

        <div class="mt-5">
          <div class="d-inline-block w-100">
            <div class="question" data-toggle="collapse" data-target="#answer1">
              <p class="w-100 m-0 red-onhover">What is Bookmark?</p>
              <button class="btn" type="button"><img src="./app/images/icon-arrow.svg" /></button>
            </div>

            <div id="answer1" class="answer collapse">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.</p>
            </div>
          </div>

          <div class="d-inline-block w-100">
            <div class="question" data-toggle="collapse" data-target="#answer2">
              <p class="w-100 m-0 red-onhover">How can I request a new browser?</p>
              <button class="btn" type="button"><img src="./app/images/icon-arrow.svg" /></button>
            </div>

            <div id="answer2" class="answer collapse">
              <p>Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies.  Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.</p>
            </div>
          </div>

          <div class="d-inline-block w-100">
            <div class="question" data-toggle="collapse" data-target="#answer3">
              <p class="w-100 m-0 red-onhover">Is there a mobile app?</p>
              <button class="btn" type="button"><img src="./app/images/icon-arrow.svg" /></button>
            </div>

            <div id="answer3" class="answer collapse">
              <p>Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et ultricies bibendum.</p>
            </div>
          </div>

          <div class="d-inline-block w-100">
            <div class="question" data-toggle="collapse" data-target="#answer4">
              <p class="w-100 m-0 red-onhover">What about other Chromium browsers?</p>
              <button class="btn" type="button"><img src="./app/images/icon-arrow.svg" /></button>
            </div>

            <div id="answer4" class="answer collapse">
              <p>Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam vitae neque eget nisl gravida pellentesque non ut velit.</p>
            </div>
          </div>                    
        </div>

        <button class="mt-5 button btn-blue">More Info</button>
      </section>

      <section class="advertisement">
        <div class=" w-50 py-5 container d-flex flex-column align-items-center text-white text-center">
          <p class="m-0 letter-spacing-adv">35.000+ ALREADY JOINED</p>

          <h2 class="w-75 mt-4 mb-0">Stay up-to-date with what we’re doing</h2>

          <form class="mt-5 d-flex justify-content-between" ng-submit="$ctrl.validation()" ng-controller="formController as $ctrl">
            <div class="mr-3">
              <input type="text" class="border-red input error-icon" name="email" ng-model="$ctrl.data.email" placeholder="Enter your email address" />
              <p class="error-message" ng-if="$ctrl.data.email != null">{{ $ctrl.errors.email }}</p>
            </div>
            <div>
              <button class="button btn-red">Contact Us</button>  
            </div>
          </form>
        </div>
      </section>
    </main>
    
    <footer>
      <div class="container w-75 d-flex justify-content-between align-items-center text-white">
        <div class="d-flex justify-content-between align-items-center text-white">
          <img src="./app/images/logo-bookmark.svg" class="img-filter mr-5" />

          <nav class="">
            <a class="p-3" href="#">FEATURES</a>
            <a class="p-3" href="#">PRICING</a>
            <a class="p-3" href="#">CONTACT</a>
          </nav>
        </div>

        <div class="icons">
          <i class="fab fa-facebook-square mr-3"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </footer>
  </div>

  <!-- Main Angular script -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="./app/js/app.js"></script>
  <script src="./app/js/tabController.js"></script>
  <script src="./app/js/formController.js"></script>
</body>
</html>