.wrapper {
	min-height:100vh; min-width:1500px; position:relative; padding:116px 0px 89px;

	.letter-spacing { letter-spacing:1px; }
	.letter-spacing-adv { letter-spacing:7px; }
	.padding-x { padding:0rem 7rem; }
	.padding-left { padding-left:7rem; }
	.mt-6 { margin-top:6rem; }
	.mb-6 { margin-bottom:6rem; }
	.img-filter { filter:invert(100%); }
	.w-40 { width:40%; }
	.rounded-xl { border-radius:1rem; }


	.button { display:inline-block; border:2px solid transparent; border-radius:0.25rem; }

	.btn-red { padding:0.75rem 2.5rem; background-color:hsl(0, 94%, 66%); color:#FFFFFF; border-radius:0.25rem !important; box-shadow:0 0.5rem 0.5rem rgba(0,0,0,.15); }
	.btn-red:hover { background-color:#FFFFFF; color:hsl(0, 94%, 66%); border:2px solid hsl(0, 94%, 66%); text-decoration:none; }
	
	.btn-blue { padding:0.75rem 1.5rem; background-color:hsl(231, 69%, 60%); color:#FFFFFF; box-shadow:0 0.5rem 0.5rem rgba(0,0,0,.15); }
	.btn-blue:hover { background-color:#FFFFFF; color:hsl(231, 69%, 60%); border:2px solid hsl(231, 69%, 60%); text-decoration:none; }

	.btn-grey { padding:0.75rem 1.5rem; background-color:hsl(229, 8%, 60%); color:#FFFFFF; box-shadow:0 0.5rem 0.5rem rgba(0,0,0,.15); }
	.btn-grey:hover { background-color:#FFFFFF; color:hsl(229, 8%, 60%); border:2px solid hsl(229, 8%, 60%); text-decoration:none; }

	.shape-right { width:25%; position:relative; z-index:-1; border-top-left-radius:50%; border-bottom-left-radius:50%; background-color:hsl(231, 69%, 60%);}
	
	.card-shadow { box-shadow:0 0.5rem 0.5rem rgba(0,0,0,.15); }

	.border-red { border:2px solid hsl(0, 94%, 66%); }
	.error-icon { background:url("../images/icon-error.svg") no-repeat; background-position:95% center; background-color:#ffffff;}
	header { 
		/*background-color:red;*/ width:100%; position:absolute; top:0;
		a { color:#000000; }
		a:hover { color:hsl(0, 94%, 66%); text-decoration:none;}
	}
	main { 
		/*background-color:yellow;*/ display:inline-block; width:100%;
		.intro { background:url("../images/illustration-hero.svg") no-repeat 80%; background-size:contain;}

		a { color:#000000; }
		.red-onhover:hover { color:hsl(0, 94%, 66%); cursor:pointer;}

		.card-bg-img { background:url("../images/bg-dots.svg") no-repeat; background-position:center 70%;}
		
		.question { padding:0.5rem 0rem; display:flex; justify-content:space-between; align-items:center; border-top:1px solid; }
		.answer { margin-top:2rem; }

		.advertisement { display:inline-block; width:100%; margin-top:10rem; background-color:hsl(231, 69%, 60%); }
		.input { border:0rem; padding:0.86rem 6rem 0.75rem 1rem; border-radius:0.25rem;}
		.error-message { margin:0rem; background-color:hsl(0, 94%, 66%); color:#FFFFFF; border-radius: 0rem  0rem .25rem .25rem; font-size:12px; text-align: left; padding:0.2rem 1rem;}
	}
	footer { 
		padding:2rem 0rem; background-color:hsl(229, 31%, 21%); position:absolute; bottom:0; width:100%;

		a { color:#FFFFFF; }
		a:hover { color:hsl(0, 94%, 66%); text-decoration:none;}
		i:hover { color:hsl(0, 94%, 66%); cursor:pointer; }
	}
}